<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Código de verificação</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        body, * {
            padding: 0; margin: 0;
            font-family: Roboto, Arial, sans-serif;
            font-size: 14pt;
        }
        #wrapper {
            display: flex;
            flex-direction: column;
            background: white;
        }
        #header {
            padding: 20px;
            text-align: center;
        }
        #header img {
        }
        #logo a {
            color: #572380;
            font-weight: 600;
            text-decoration: none;
        }
        #logo #under {
            color: rgba(0, 0, 0, .3);
        }
        #content {
            color: #616161;
            background: white;
            padding: 20px 0 20px 0;
            text-align: center;
        }
        #content h4 {
            margin-bottom: 10px;
            font-size: 18pt;
        }
    </style>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <a href="https://cubegym.com.br">
                    <img src="<%= it.logoUrlCb %>" width="100"> <br>
                    <span style="font-size: 16pt">CubeGym</span>
                </a> <br>
                <span id="under" style="font-size: 11pt;">Sistemas para academia</span>
            </div>
        </div>
        <div style="background-color: #e6d4d7; height: 1px"></div>
        <div id="content">
            <h4>Olá</h4>
            <p>Seu código de ativação é: <strong><%= it.code || 'param:CODE' %></strong></p>
        </div>
    </div>

</body>
</html>